// Here you can add other styles
body {
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 14px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px #FA541C;
  outline: 0 none;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 20px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 15px 0;
    padding-left: 10px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fa541c;
    left: 15px;
    width: 12px;
    height: 12px;
    z-index: 400;
}

button.react-datepicker__close-icon::after{
  background-color: #fa541c;
}
div.react-horizontal-scrolling-menu--scroll-container {
  overflow-x: visible;
}
/* width */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  height: 5px;
}

/* Track */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.dropdown-menu.show {
  overflow-x: visible;
}
/* width */
div.dropdown-menu.show::-webkit-scrollbar {
  width: 5px;
}

/* Track */
div.dropdown-menu.show::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.dropdown-menu.show::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.dropdown-menu.show::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body::-webkit-scrollbar {
  width: 8px;
  transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
}
/* Track */
body::-webkit-scrollbar-track {
  width: 8px;
  background: #f1f1f1;
  transition: background-color .2s linear, width .2s ease-in-out;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #aaa;
  width: 5px;
  border-radius: 5px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #888;
  width: 8px;
  transition: background-color .2s linear, width .2s ease-in-out;
}

#dropdown-autoclose-outside-menu-courier.dropdown-toggle::after {
    display: inline-block;
    content: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

div.vertical-scrolling-menu {
  overflow-y: scroll;
  overflow-x: hidden;
}
/* width */
div.vertical-scrolling-menu::-webkit-scrollbar {
  width: 5px;
}
/* Track */
div.vertical-scrolling-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.vertical-scrolling-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.vertical-scrolling-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.horizontal-scrolling-menu::-webkit-scrollbar {
  height: 5px;
}
/* Track */
div.horizontal-scrolling-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.horizontal-scrolling-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.horizontal-scrolling-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div.print-page {
    width: 1024px;
    min-height: auto;
    margin: 5px auto;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    columns: 2;
    column-gap: 3rem;
    column-rule: 1px solid #000;
    column-rule-style: dashed;
    column-fill: balance;
    padding: 2rem;
    > * + * {
        margin-top: 1rem;
    }
    .invoice {
      width: 100%;
      height: auto;
      page-break-before: auto;
      page-break-inside: avoid;
      page-break-after: auto;
    }
}
div.print-body {
  max-width: 1024px;
  min-height: auto;
  margin: auto;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
    }
    .page-print  {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
    .invoice {
      break-inside: avoid;
      display: inline-grid;
      page-break-inside: avoid;
    }
}


li.page-item.active .page-link {
  z-index:0;
}

ul.nav.nav-tabs {
  border-bottom: 1px solid;
  border-color: #c4c9d0;
}

ul.nav.nav-tabs .nav-item .nav-link  {
  padding-left: 20px;
  padding-right: 20px;
  color: #768192;
  text-decoration: none;
  background-color: transparent;
}

ul.nav.nav-tabs .nav-item .active.nav-link {
  color: #fa541c;
  text-decoration: none;
  background-color: transparent;
}
ul.nav.nav-tabs .active.nav-link {
  border-color: #fff;
  border-bottom-width: 2px;
  border-bottom-color: #fa541c;
}

.text-editor {
  margin: 0px 0px;
}

.text-editor .ql-container {
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background: #fefcfc;
}

/* Snow Theme */
.text-editor .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

/* Bubble Theme */
.text-editor .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.3em;
}

.text-editor .ql-editor {
  min-height: 15em;
}

.bold-orange {
  font-weight: 700;
  color: map-get($theme-colors, "primary");
}

.heading {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.sub-heading {
  font-weight: 700;
  font-size: 14px;
}

.card-selected,
.card-hover:hover {
  border: 1px solid #fa541c !important;
  transition: 300ms;
  color: map-get($theme-colors, "primary");
}

.modal-overflow {
  max-height: 400px;
  width: 100%;
  overflow-y: auto;
}

.modal-selected {
  border: 2px solid #fa541c;
  border-radius: 4px;
  // background: map-get($theme-colors, "primary");
}

.required-label::after {
  content: " *";
  color: red;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-dropdown {
    width: 320px; /* Lebar 100% untuk layar kecil */
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn-dropdown {
    width: 420px; /* Lebar 240px pada layar sm */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-dropdown {
    width: 400px; /* Lebar 320px pada layar md */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-dropdown {
    width: 560px; /* Lebar 400px pada layar lg */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn-dropdown {
    width: 560px; /* Lebar 480px pada layar xl */
  }
}

@media print {
  html,
  body {
    height: 100%; /* Use 100% here to support printing more than a single page*/
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.react-horizontal-scrolling-menu--scroll-container {
  overflow-x: visible;
}

/* width */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  height: 5px;
}

/* Track */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div.vertical-scrolling-menu {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* width */
div.vertical-scrolling-menu::-webkit-scrollbar {
  width: 5px;
}

/* Track */
div.vertical-scrolling-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.vertical-scrolling-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.vertical-scrolling-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.horizontal-scrolling-menu {
  overflow-x: scroll;
  overflow-y: hidden;
}

/* width */
div.horizontal-scrolling-menu::-webkit-scrollbar {
  height: 5px;
}

/* Track */
div.horizontal-scrolling-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.horizontal-scrolling-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
div.horizontal-scrolling-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
